<select
  id="stt-{{ objectId }}"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  [ngModel]="currentStatus"
  (ngModelChange)="getStatus($event)"
>
  <option value="0" selected="{{ currentStatus === 0 ? true : false }}">
    Active
  </option>
  <option value="1" selected="{{ currentStatus === 1 ? true : false }}">
    Inactive
  </option>
</select>
