<div class="flex items-center justify-between mb-8">
  <h1 class="text-xl font-bold">Category List</h1>
  <a
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    routerLink="/admin/category/create"
  >
    New cate +
  </a>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="py-3">Status</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let cate of categories"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap flex items-center justify-start gap-6"
        >
          <span class="text-md">
            {{ cate.name }}
          </span>
        </th>
        <td>
          <select
            id="stt-{{ cate._id }}"
            class="bg-transparent block max-w-[80px] text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [ngModel]="cate.status"
            (ngModelChange)="onChange($event, cate._id)"
          >
            <option value="0" selected="{{ cate.status === 0 ? true : false }}">
              Active
            </option>
            <option value="1" selected="{{ cate.status === 1 ? true : false }}">
              Inactive
            </option>
          </select>
        </td>
        <td class="px-6 py-4 text-right">
          <a
            routerLink="/admin/category/{{ cate._id }}"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >
            Edit
          </a>
          <button
            (click)="deleteCate(cate._id)"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline ml-4"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
