<div class="flex gap-[90px]">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="flex-1">
    <div class="mb-6">
      <label
        for="title"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Title</label
      >
      <input
        type="text"
        id="title"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        placeholder="E.g Book of Pi"
        required=""
        formControlName="title"
      />
    </div>
    <div class="mb-6">
      <label
        for="Price"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Price</label
      >
      <input
        type="number"
        id="price"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required=""
        formControlName="price"
      />
    </div>
    <div class="mb-6">
      <label
        for="sale-price"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Sale Price</label
      >
      <input
        type="number"
        id="sale-price"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required=""
        formControlName="sale_price"
      />
    </div>
    <div class="mb-6">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Description</label
      >
      <textarea
        id="description"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Leave a comment..."
        formControlName="description"
        [(ngModel)]="book.description"
      >
      </textarea>
    </div>
    <div class="flex flex-col items-start mb-6">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        for="user_avatar"
        >Upload file</label
      >
      <input
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        aria-describedby="user_avatar_help"
        id="user_avatar"
        type="file"
        formControlName="img"
        (change)="uploadHandler($event)"
      />
    </div>
    <div class="flex flex-col items-start mb-6">
      <label
        for="category"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Category</label
      >
      <select
        id="category"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="category"
        [ngModel]="book.category"
      >
        <option
          *ngFor="let item of categories"
          value="{{ item._id }}"
          selected="{{ item._id === book.category ? true : false }}"
        >
          {{ item.name }}
        </option>
      </select>
    </div>
    <div class="flex flex-col items-start mb-6">
      <label
        for="status"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Status</label
      >
      <select
        id="status"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="status"
        [value]="productForm.value.status"
      >
        <option value="0" selected="{{ book.status === 0 ? true : false }}">
          Active
        </option>
        <option value="1" selected="{{ book.status === 1 ? true : false }}">
          Inactive
        </option>
      </select>
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Update
    </button>
  </form>
  <div class="grid place-center overflow-hidden max-w-[500px] max-h-[500px]">
    <img src="{{ book.img }}" alt="" class="object-cover" />
  </div>
</div>
