<div class="flex items-center justify-between mb-8">
  <h1 class="text-xl font-bold">Edit Books</h1>

  <nav
    class="flex {{ id === '' || id === undefined ? 'hidden' : '' }}"
    aria-label="Breadcrumb"
  >
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a
          routerLink="/admin/books"
          class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >
          <svg
            class="mr-2 w-4 h-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
            ></path>
          </svg>
          Books
        </a>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg
            class="w-6 h-6 text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span
            class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400"
            >{{ book.title }}</span
          >
        </div>
      </li>
    </ol>
  </nav>
</div>
<div class="flex gap-[90px]">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="flex-1">
    <div class="mb-6">
      <label
        for="title"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Title</label
      >
      <input
        type="text"
        id="title"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        placeholder="E.g Book of Pi"
        required=""
        formControlName="title"
      />
      <app-validate-noti
        [field]="productForm.get('title')"
        key="Title"
      ></app-validate-noti>
    </div>
    <div class="mb-6">
      <label
        for="Price"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Price</label
      >
      <input
        type="number"
        id="price"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required=""
        formControlName="price"
      />
      <app-validate-noti
        [field]="productForm.get('price')"
        key="Price"
      ></app-validate-noti>
    </div>
    <div class="mb-6">
      <label
        for="sale-price"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Sale Price</label
      >
      <input
        type="number"
        id="sale-price"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        required=""
        formControlName="sale_price"
      />
      <app-validate-noti
        [field]="productForm.get('sale_price')"
        key="Sale price"
      ></app-validate-noti>
    </div>
    <div class="mb-6">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Description</label
      >
      <textarea
        id="description"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Leave a comment..."
        formControlName="description"
        [(ngModel)]="book.description"
      >
      </textarea>
      <app-validate-noti
        key="Description"
        [field]="productForm.get('description')"
      ></app-validate-noti>
    </div>
    <div class="flex flex-col items-start mb-6">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        for="user_avatar"
        >Upload file</label
      >
      <input
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        aria-describedby="user_avatar_help"
        id="user_avatar"
        type="file"
        formControlName="img"
        (change)="uploadHandler($event)"
      />
      <app-validate-noti
        [field]="productForm.get('img')"
        key="Image"
      ></app-validate-noti>
    </div>
    <div class="flex flex-col items-start mb-6">
      <label
        for="category"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Category</label
      >
      <select
        id="category"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="category"
        [ngModel]="book.category"
      >
        <option
          *ngFor="let item of categories"
          value="{{ item._id }}"
          selected="{{ item._id === book.category ? true : false }}"
        >
          {{ item.name }}
        </option>
      </select>
      <app-validate-noti
        [field]="productForm.get('category')"
        key="Category"
      ></app-validate-noti>
    </div>
    <div class="flex flex-col items-start mb-6">
      <label
        for="status"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Status</label
      >
      <select
        id="status"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="status"
        [value]="productForm.value.status"
      >
        <option value="0" selected="{{ book.status === 0 ? true : false }}">
          Active
        </option>
        <option value="1" selected="{{ book.status === 1 ? true : false }}">
          Inactive
        </option>
      </select>
      <app-validate-noti
        [field]="productForm.get('status')"
        key="Status"
      ></app-validate-noti>
    </div>

    <button
      [disabled]="!productForm.valid"
      type="submit"
      class="bg-gray-500 text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 {{
        !productForm.valid ? 'bg-gray-500' : 'bg-blue-700'
      }}"
    >
      Update
    </button>
  </form>
  <div class="grid place-center overflow-hidden max-w-[500px] max-h-[500px]">
    <img
      [src]="
        book.img ||
        'https://cnctool.store/wp-content/uploads/woocommerce-placeholder.png'
      "
      alt=""
      class="object-cover border-[1px] border-gray-300 rounded-lg"
    />
  </div>
</div>
